<form method="POST">
	<input type="text" name="title" placeholder="Título">
	<input type="text" name="author" placeholder="Autor">
	<textarea name="description" placeholder="Description"></textarea>
	<input type="submit">
</form>

<br>
<a href="/">Regresar al Inicio</a>